python_workspace/__pycache__
python_workspace/scservo_sdk/__pycache__
python_workspace/venv
python_workspace/api_logs.log
python_workspace/debug_tools/.printer_history
python_workspace/debug_tools/api_logs.log
.vscode
build-robot_arm_gui-Desktop-Debug